<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="STORAGE_CONNECTION_STRING" value="{STORAGE_CONNECTION_STRING}"/>
    <add key="SERVICE_BUS_CONNECTION_STRING" value="{SERVICE_BUS_CONNECTION_STRING}"/>
    <add key="QUEUE_NAME" value="{QUEUE_NAME}"/> 
  </appSettings>
</configuration>

