<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Service Bus specific app setings for messaging connections -->
    <add key="ServiceBusConnectionString" value="PROVIDE SERVICE BUS CONNECTION INFORMATION" />
    <add key="QueueName" value="Queue1" />
  </appSettings>
</configuration>